In [84]:
import pandas as pd

In [85]:
traffic = pd.read_csv("original data/trafficlist_forcountry.csv")
forest = pd.read_csv("original data/forest-cover-v1.csv")
air_city = pd.read_csv("original data/aap_air_quality_database_2018_v14.csv", skiprows=2)
air_country = pd.read_csv("original data/【12】GlobalPM25-1998-2022.csv")
weather = pd.read_csv("original data/GlobalWeatherRepository.csv")

In [86]:
#Clean data -remove the attribuites which are useless
#traffic
traffic = traffic.drop(columns=['Population'])
traffic = traffic.drop(columns=['Ref'])
traffic.head()

          Location Rate[per 1000] Vehicles  Year
0       San Marino          1,606   53,940  2024
1    Guernsey (UK)          1,389   88,532  2022
2   Gibraltar (UK)          1,293   48,641  2022
3      Jersey (UK)          1,234  127,911  2023
4          Andorra          1,214   98,183  2023

In [87]:
#Clean data -remove the attribuites which are useless
#air_city
air_city = air_city.drop(columns=["Reference for air quality","iso3","Database version (year)","Temporal coverage.1","status","Number and type of monitoring stations","note on converted PM2.5","Annual mean, ug/m3","Temporal coverage","note on converted PM10"])

air_city.head()

,Region,Country,City/Town,Year,"Annual mean, ug/m3.1"
0,Europe (LMIC),Albania,Tirana,2013,16
1,Europe (LMIC),Albania,Vrith,2015,13
2,Europe (HIC),Andorra,Escaldes-Engordany,2017,10
3,Western Pacific (HIC),Australia,Adelaide,2016,7
4,Western Pacific (HIC),Australia,Brisbane,2016,7

In [88]:
#Clean data -remove the attribuites which are useless
#air_country
air_country = air_country.drop(columns=["% pop >= 5 ug/m3 [%]","% pop >= 10 ug/m3 [%]","% pop >= 15 ug/m3 [%]","% pop >= 30 ug/m3 [%]","% pop >= 35 ug/m3 [%]","% pop >= 40 ug/m3 [%]","% pop >= 45 ug/m3 [%]","% pop >= 50 ug/m3 [%]","% pop >= 55 ug/m3 [%]","% pop >= 60 ug/m3 [%]"])
air_country.head()

,Region,Year,Population-Weighted PM2.5 [ug/m3],Geographic-Mean PM2.5 [ug/m3],Population Coverage [%],Geographic Coverage [%],Total Population [million people],% pop >= 25 ug/m3 [%]
0,Aruba,1998,9.5,9.3,100.0,100.0,0.088,0.0
1,Aruba,1999,10.1,9.9,100.0,100.0,0.088,0.0
2,Aruba,2000,10.2,10.0,100.0,100.0,0.088,0.0
3,Aruba,2001,10.6,10.4,100.0,100.0,0.090,0.0
4,Aruba,2002,10.5,10.3,100.0,100.0,0.092,0.0

In [89]:
#Clean data -remove the attribuites which are useless
#forest
forest = forest.drop(columns=["Population Growth Rate","World Population Percentage"])
forest.head()

,Country Name,Capital,Continent,Area (km²),Population Density (per km²),Population Rank,Forest Area 1990,Forest Area 1991,Forest Area 1992,Forest Area 1993,...,Forest Area 2011,Forest Area 2012,Forest Area 2013,Forest Area 2014,Forest Area 2015,Forest Area 2016,Forest Area 2017,Forest Area 2018,Forest Area 2019,Forest Area 2020
0,Aruba,Oranjestad,North America,180,591.3611,198,2.333333,2.333333,2.333333,2.333333,...,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333
1,Afghanistan,Kabul,Asia,652230,63.0587,36,1.850994,1.850994,1.850994,1.850994,...,1.850994,1.850994,1.850994,1.850994,1.850994,1.850994,1.850994,1.850994,1.850994,1.850994
2,Angola,Luanda,Africa,1246700,28.5466,42,63.578070,63.453407,63.328745,63.204082,...,57.433976,56.988751,56.543526,56.098301,55.653076,55.207845,54.762629,54.317406,53.872175,53.426951
3,Albania,Tirana,Europe,28748,98.8702,138,28.788321,28.717153,28.645985,28.574818,...,28.594653,28.646606,28.698558,28.750511,28.802464,28.802190,28.792062,28.791971,28.791971,28.791971
4,Andorra,Andorra la Vella,Europe,468,170.5641,203,34.042553,34.042553,34.042553,34.042553,...,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553

In [ ]:
#Clean data -remove the attribuites which are useless
#GlobalWeather

weather = weather.drop(columns=["Population Growth Rate","World Population Percentage"])
weather.head()